/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('images/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blueviolet;
}

.roundedButton {
  border: 1px solid rgba(246, 246, 246, 0.16);
  background: rgba(246, 246, 246, 0.16);
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf');
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 1000;
  position: absolute;
}

wcm-modal,
#wcm-modal,
.wcm-active,
#wcm-modal .wcm-container {
  z-index: 100000 !important;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf');
}
@layer components {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 900000s 0s,
      color 600000s 0s;
  }
}

/* scroll bar modification */

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d084e;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.full-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -51%);
  width: 100vw;
  height: 100vh;
}
